body {
  margin: 0;
  padding: 0;
  font-family: "Quantico", sans-serif;
}

h1 {
  text-align: absolute;
  font-size: 100px;
  text-transform: uppercase;
  font-weight: 500px;
  letter-spacing: 3px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -265%);
  margin: 0;
  color: #e67024;
}

.WFProfile {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-100%, -270%);
  display: inline-flex;
}

.WFClan {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(2%, -270%);
  display: inline-flex;
}
