body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

h1 {
  text-align: center;
  font-size: 120px;
  text-transform: uppercase;
  font-weight: 900px;
  letter-spacing: 3px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -265%);
  margin: 0;
  background: url(flag.jpg) 50% 50%;
  background-size: cover;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

h2 {
  text-align: center;
  font-size: 50px;
  text-transform: uppercase;
  font-weight: 500px;
  letter-spacing: 3px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -400%);
  margin: 0;
}

h3 {
  text-align: center;
  font-size: 50px;
  text-transform: uppercase;
  font-weight: 500px;
  letter-spacing: 3px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -80%);
  margin: 0;
}

.Discord {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(10%, 80%);
  display: inline-flex;
}

.Spotify {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-110%, 80%);
  display: inline-flex;
}

.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -270%);
  display: inline-flex;
}

.Bottom {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 20%);
  display: inline-table;
  width: 700px;
}

.btn {
  background: none;
  position: relative;
  border: 2px solid #a74b00;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  display: inline-block;
  padding: 10px 10px;
  min-width: 150px;
  min-height: 40px;
  margin: 10px;
  cursor: pointer;
  transition: color 0.4s linear;
  font-size: 17px
}

.btn:hover {
  color: #ffffff;
}

.btn::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  width: 101%;
  height: 111%;
  margin-top: -12px;
  background: #940000;
  z-index: -1;
  transition: transform 0.5s;
  transform-origin: 0 0;
  transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
}

.btn1::before {
  transform: scaleY(0);
}

.btn1:hover::before {
  transform: scaleY(1);
}

.btn2::before {
  transform: scaleY(0);
}

.btn2:hover::before {
  transform: scaleY(1);
}

.btn3::before {
  transform: scaleY(0);
}

.btn3:hover::before {
  transform: scaleY(1);
}

.btn4::before {
  transform: scaleY(0);
}

.btn4:hover::before {
  transform: scaleY(1);
}

.btn5::before {
  transform: scaleY(0);
}

.btn5:hover::before {
  transform: scaleY(1);
}

.btn6::before {
  transform: scaleY(0);
}

.btn6:hover::before {
  transform: scaleY(1);
}

.btn7::before {
  transform: scaleY(0);
}

.btn7:hover::before {
  transform: scaleY(1);
}

.btn8::before {
  transform: scaleY(0);
}

.btn8:hover::before {
  transform: scaleY(1);
}

.btn9::before {
  transform: scaleY(0);
}

.btn9:hover::before {
  transform: scaleY(1);
}

.btn10::before {
  transform: scaleY(0);
}

.btn10:hover::before {
  transform: scaleY(1);
}
